NODE_ENV=development
# NODE_ENV=production
ENGINE_API_KEY=
CORS_DOMAIN=*
DOMAIN=localhost:700
PROTOCOL=http

DEBUG_MODE=1
LOGS_CLOUD_WATCH=0
LOGS_CLOUD_WATCH_REGION=eu-central-1

MONGO_URI=mongodb://mongo:27017/api

# This use only for local. It's different from MONGO_URI because we use migration on host machine. MONGO_URI is uses from docker container
MONGO_MIGRATE_URI=mongodb://0.0.0.0:27000/api

AWS_APP_BUCKET=shoclef-app-assets-bucket-stage
AWS_USER_ASSETS_BUCKET=shoclef-user-assets-bucket-stage
AWS_MEDIA_BUCKET=shoclef-media-bucket-stage
AWS_MEDIA_REGION_ID=7

CDN_APP_ASSETS_DOMAIN=https://cdn-stage.shoclef.com
CDN_MEDIA_DOMAIN=https://media-stage.shoclef.com
CDN_USER_ASSETS_DOMAIN=https://uploads-stage.shoclef.com

GOOGLE_API_KEY=AIzaSyCgOpUPytKtvcf55u9BRjmHaVHk7-ij-vU

AGORA_APP_ID=ee928bf0b1b5486daaa306837eb9aa78
AGORA_APP_CERT=48b361c2581a45de9b8dd374be139579
AGORA_API_KEY=a3eb346225ab439ba115ce64053eabb1
AGORA_API_CERT=d61c947b52244ef58a7fa4ed52748fe5

AWS_ACCESS_KEY_ID=AKIA4XQI53MLBW2K3NUE
AWS_SECRET_ACCESS_KEY=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

AWS_AGORA_ACCESS_KEY_ID=AKIA4XQI53MLNXJKRC7W
AWS_AGORA_SECRET_ACCESS_KEY=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

TEST_ENTRYPOINT=http://localhost:700/graphql

ELASTIC_EMAIL_API_KEY=25071B9A863E1776C35861CE0043EDFB87E5A5D63091805FB2F420B898C59AD221A6181CB054CB6F35197AC15988CD36
ELASTIC_EMAIL_FROM=crystal.ding@shoclefukraine.com

SHIPENGINE_API_KEY=TEST_5vy9SjXKFz+WX7r4/42cqMxw3apFW98C/CKhjwuVdnw

# Merchant Account Name: Wirecard CC/EFT Simu3D no CVC
# Username to access Test Account: 70000-APILUHN-CARD
# Password to access Test Account: 8mhwavKVb91T
PAYMENT_WIRECARD_MERCHANT_ID = cad16b4a-abf2-450d-bcb8-1725a4cef443
PAYMENT_WIRECARD_SECRET = b3b131ad-ea7e-48bc-9e71-78d0c6ea579d

PAYMENT_STRIPE_SECRET=sk_test_Z5H2IEc2654C0TmDbX2va42A00RObKex7I

REDIS_HOST=redis
REDIS_PORT=6379