<html>
  <head>
    <title>Socket.io Client</title>
  </head>

  <body>
    <h1>Hello Socket.io</h1>

    <script src="https://cdn.socket.io/socket.io-3.0.3.min.js"></script>

    <script>
      console.log('script worked!');
      let host = "localhost:4000";
      if (!window.location.href.includes("localhost")) {
        host = "https://api.xiufu88.com";
      }
      const token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjYwN2QzYjBjLTkzMTktNDg4ZC1hYzFlLThhNDQ3OWU5MTg3OSIsInVzZXJfaWQiOiI1MDIwMmY3OC05OWU4LTQxYjQtYjdiMy0yNTg3MjhhYTczNTAiLCJpYXQiOjE2MDczMjkyOTUsImV4cCI6MTYwNzkzNDA5NX0.UJYePXVbpgRMxrqC-2K-PVRqJC2FyJUpzcBwEf1iQSA";
      var socket = io(`http://${host}/`, {
        query: `token=Bearer ${token}`,
        // transports: ['websocket']
      });
    </script>
  </body>
</html>
